* {
  margin: 0px;
  font-family: Helvetica, "Helvetica Neue", Roboto, Noto, Arial, sans-serif;
}

a {
  color: rgb(82, 110, 255);
  text-decoration: none; /* no underline */
}

#RootWrapperImproveQualityList {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  background-color: white;
  box-sizing: border-box;
}

#Header {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: solid 1px rgb(209, 211, 213);
  align-self: stretch;
  box-sizing: border-box;
  padding: 15px 80px;
  flex-shrink: 0;
}

#Label {
  color: rgb(17, 17, 17);
  text-overflow: ellipsis;
  font-size: 32px;
  font-family: Roboto, sans-serif;
  font-weight: initial;
  line-height: 48px;
  text-align: left;
}

#Frame45 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 34px;
  align-self: stretch;
  height: 1222px;
  box-sizing: border-box;
  padding: 36px 0px 0px;
  flex-shrink: 0;
}

#PageTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  flex: none;
  gap: 10px;
  box-sizing: border-box;
  padding: 0px 80px;
}

#Label_0001 {
  color: rgb(17, 17, 17);
  text-overflow: ellipsis;
  font-size: 40px;
  font-family: Inter, sans-serif;
  font-weight: initial;
  line-height: 72px;
  text-align: left;
}

#TabBar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
  box-sizing: border-box;
  padding: 0px 80px;
  flex-shrink: 0;
}

#TabSingle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  gap: 12px;
  box-sizing: border-box;
  padding: 10px 0px 0px;
}

#Label_0002 {
  color: rgb(82, 110, 255);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: left;
}

#Line {
  height: 2px;
  background-color: rgb(82, 110, 255);
  align-self: stretch;
  flex-shrink: 0;
}

#Label_0003 {
  color: rgb(141, 141, 141);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: left;
}

#Line_0001 {
  height: 2px;
  align-self: stretch;
  flex-shrink: 0;
}

#List {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  gap: 20px;
  align-self: stretch;
  height: 998px;
  box-sizing: border-box;
  padding: 0px 80px;
  flex-shrink: 0;
}

#ListItem {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

#Frame48 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-radius: 15px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

#ListItemTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

#Label_0005 {
  color: rgb(82, 110, 255);
  text-overflow: ellipsis;
  font-size: 36px;
  font-family: Roboto, sans-serif;
  font-weight: initial;
  line-height: 48px;
  text-align: left;
  text-decoration: underline;
}

#Frame50 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  box-sizing: border-box;
  padding-right: 24px;
  flex-shrink: 0;
}

#ListItemDescription {
  width: 768px;
  height: 66px;
  position: relative;
}

#ListItemDescription_0001 {
  color: rgb(89, 96, 105);
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: initial;
  line-height: 140%;
  text-align: left;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

#Frame52 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  box-sizing: border-box;
  flex-shrink: 0;
}

#ListItemChip {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex: none;
  gap: 4px;
  border-radius: 100px;
  background-color: rgb(226, 231, 251);
  box-sizing: border-box;
  padding: 8px 16px;
  backdrop-filter: blur(16px);
}

#Frame51 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  box-sizing: border-box;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-right: 24px;
  flex-shrink: 0;
}

#IconButton {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 4px;
  border-radius: 12px;
  height: 50px;
  background-color: rgb(82, 110, 255);
  box-sizing: border-box;
  padding: 9px 20px;
}

#Container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex: none;
  gap: 4px;
  box-sizing: border-box;
}

#Icon {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  gap: 10px;
  box-sizing: border-box;
  padding: 4px 0px;
}

#Vector {
  width: 13px;
  height: 13px;
}

#Label_0009 {
  color: white;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: initial;
  line-height: 24px;
  text-align: left;
}

#IconButtonOutlined {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: none;
  gap: 4px;
  border: solid 2px rgb(82, 110, 255);
  border-radius: 12px;
  height: 50px;
  box-sizing: border-box;
  padding: 9px 20px;
}

#IconsCircleFaq {
  width: 15px;
  height: 15px;
}

#SeparatorLine {
  width: 1280px;
  height: 0px;
  position: relative;
}

#SeparatorLine_0001 {
  border-top: solid 1px rgb(209, 215, 221);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
